@use '../utils' as *;

.advantages {
	padding: 50px 0 60px;
	@include respond(laptop) {
		padding: 30px 0;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;
		@include respond(laptop) {
			grid-template-columns: repeat(2, 1fr);
		}
		@include respond(mobile) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		position: relative;
		display: flex;
		min-width: 316px;
		padding: 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1 0 0;
		border-radius: 24px;
		background: var(--color-grey);
		overflow: hidden;
		@include hover {
			.advantages__overlay {
				opacity: 1;
				pointer-events: none;
			}
		}
	}

	&__icon {
		display: flex;
		padding: 12px;
		align-items: center;
		gap: 10px;
		border-radius: 100px;
		background: var(--color-primary);
		svg {
			stroke: var(--color-white);
		}
	}

	&__text {
		font-size: toRem(18);
		line-height: 140%;
		@include respond(tablet) {
			font-size: toRem(16);
		}
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		padding: 24px;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		flex: 1 0 0;
		background: var(--color-accent);
		opacity: 0;
		pointer-events: none;
		transition: var(--transition-default);
	}

	&__overlay-title {
		color: var(--color-white);
		font-size: toRem(24);
		font-weight: 700;
		line-height: 105%;
		@include respond(tablet) {
			font-size: toRem(18);
		}
	}

	&__overlay-text {
		color: var(--color-white);
		font-size: toRem(18);
		line-height: 140%;
		@include respond(tablet) {
			font-size: toRem(16);
		}
	}
}
